@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");
:root {
  --bg: #f8f8f8;
  --text: #232328;
  --color-white: #f8f8f8;
  --color-black: #121212;
  --color-alt: #ff7750;
  --color-visited: #666;
  --color-gray: #999;
  --color-dimmed: rgba(0, 0, 0, 0.25);
  --color-scrollbar-bg: #121212;
  --color-form-valid: #def0dec4;
  --color-form-invalid: #e27a68c7;
  --color-form-invalid: rgb(248, 213, 213);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #232328;
    --text: #f8f8f8;
  }
}

/* 
body.dark_theme {
  cursor: pointer;
  --bg: black;
  --text: white;
} */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
input,
html,
body,
article,
section,
div,
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: none;
}

h1 {
  margin: 0.5rem 0;
  font-size: calc(3.5vmin + 2vmax);
  font-weight: 700;
  line-height: 1;
  word-spacing: 0.5rem;
}

h1,
h4,
h6 {
  -webkit-text-stroke: 0.1rem var(--text);
}

h1:hover,
h1:active {
  color: transparent;
  cursor: pointer;
}


h2 {
  font-size: calc(1.5vmin + 1.75vmax);
  color: var(--text);
  font-weight: 900;
  letter-spacing: 2px;
  transition: color 0.4s ease-in-out;
}

h3 {
  font-size: calc(1vmin + 1.5vmax);
  margin: 2% 0;
  color: var(--text);
}

h4 {
  font-size: calc(1.5vmin + 1.75vmax);
  color: transparent;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

h4:hover,
h4:focus {
  color: var(--text);
}

h6 {
  font-size: calc(1.5vmin + 1.75vmax);
  color: transparent;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

.page_lists > li {
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: var(--color-alt);
  padding: 0.5rem 0;
  list-style-type: circle;
}

.inverted {
  -webkit-text-stroke: 1px var(--text);
}

p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 125%;
}

input {
  color: black;
}

/* Chrome, Safari, and also the Edge Browser and Firefox */
@media and (-webkit-min-device-pixel-ratio:0) {
  selector { property:value; }
  }
