.card {
  position: relative;
  margin: 2rem auto;
  min-height: 300px;
  max-height: 600px;
  padding: 4%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid rgba(136, 136, 136, 0.39);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.card > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  margin-top: 2rem;
  transition: 0.3s;
  text-align: center;
  font-family: Bebas;
  font-size: calc(1.5vmin + 2vmax);
  opacity: 1;
  color: var(--color-alt);
}
/* 
.card:last-child:after {
  content: "";
  width: 6vw;
  position: absolute;
  height: 100%;
  right: -6vw;
  top: 0;
} */

.card > img {
  position: absolute;
  top: 10%;
  min-height: fit-content;
  max-height: 200px;
  transition: 0.35s;
  opacity: 0.2;
  z-index: -1;
}



@media screen and (min-width: 768px) {
  .card {
    padding: 2rem;
  }

  .card > img {
    top: 10%;
    max-height: 300px;
    transition: 0.35s;
    margin-bottom: 1rem;
  }

}
