.contact_body {
  width: inherit;
  height: 100vh;
}

.form_contact {
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  animation: from_opacity 1s ease-in;
}

/* ============ contact form section =========================*/

.form_container {
  margin: 2rem 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: fit-content;
  background: var(--text);
  box-shadow: 0px 0px 1px black, 0px 0px 1px white;
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  width: 100%;
  min-width: 360px;
  height: fit-content;
  padding: 25px 15px;
  box-shadow: 0px 0px 1px black, 0px 0px 1px rgb(12, 12, 12);
  z-index: 10;
}

label {
  min-width: 100px;
  padding: 0.25rem 0 0.25rem 1rem;
  font-family: "", sans-serif;
  font-size: 1rem;
  color: var(--bg);
  text-decoration: none;
  /* color: var(--primary-color); */
}

a {
  text-decoration: none;
}

.formContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100%;
  background-color: var(--text);
  border-bottom: 1px solid #292727;
}

input[type="text"],
input[type="email"] {
  color: var(--color-black);
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 2px solid var(--color-alt);
  color: var(--color-alt);
}

.input-field {
  min-width: 80%;
  max-width: 100%;
  border: none;
  outline: none;
  padding: 3px;
  font-size: 12px;
  caret-color: var(--color-gray);
}
.input-field::placeholder {
  color: var(--color-visited);
  padding-left: 5px;
}

.input-field:valid {
  background: var(--color-form-valid);
  color: var(--color-black);
}
.input-field:invalid {
  background: var(--text);
  color: var(--gray);
}

input:required {
  border: 2px solid #888;
}

input:required:invalid {
  border-color: #ec6e6e;
  background: var(--form-invalid);
}

.btn {
  position: relative;
  margin: 24px auto;
  padding: 16px 24px;
  display: flex;
  font-size: 1rem;
  letter-spacing: 1.5px;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(6, 16, 36);
  background: #d7dbda;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: #282828;
  color: var(--primary-color);
  transform: scale(0.96);
}

.message {
  margin: auto;
  min-width: 80%;
  max-width: 100%;
  margin-right: 0;
  text-align: left;
  border: 1px solid var(--color-visited);
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c79c;
  color: #fafafa;
  margin-bottom: 10px;
  display: none;
}
/* 
#dummyframe {
  display: block;
  position: fixed;
  top: 20vh;
  right: 10vh;
  width: 200px;
  height: 200px;
  font-size: 0.5rem;
  color: white;
  z-index: 100;
  border: 1px solid white;
} */

@media screen and (min-width: 768px) {
  .contact_body > main {
    width: 100%;
  }
  .form_container {
    margin: 2rem auto 0;
    max-width: 40%;
    height: fit-content;
    background: var(--text);
    box-shadow: 0px 0px 1px black, 0px 0px 1px white;
  }

  .input-field {
    min-width: unset;
    max-width: unset;
    width: 60%;
    border: none;
    outline: none;
    background: var(--text);
    padding: 3px;
    font-size: 12px;
    caret-color: var(--color-gray);
  }
}
