#logo_wrapper {
  position: relative;
  padding-left: 2rem;
  margin-right: auto;
  width: 75%;
  border-bottom: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

#logo {
  pointer-events: none;
}

#logo path {
  position: absolute;
  stroke: var(--text);
  /* fill: none; */
}

#logo path:nth-child(1) {
  stroke-dasharray: 158px;
  stroke-dashoffset: 158px;
  animation: logo-path 2s ease forwards 0.2s,
    logo-fill-orange 3s ease-in forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 366px;
  stroke-dashoffset: 366px;
  animation: logo-path 2s ease forwards 0.4s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 345px;
  stroke-dashoffset: 345px;
  animation: logo-path 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 341px;
  stroke-dashoffset: 341px;
  animation: logo-path 2s ease forwards 0.8s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 357px;
  stroke-dashoffset: 357px;
  animation: logo-path 2s ease forwards 1s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 315px;
  stroke-dashoffset: 315px;
  animation: logo-path 2s ease forwards 1.2s, logo-fill 3s ease-in forwards;
}

#logo path:nth-child(7) {
  stroke-dasharray: 322px;
  stroke-dashoffset: 322px;
  animation: logo-path 2s ease forwards 1s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 346px;
  stroke-dashoffset: 346px;
  animation: logo-path 2s ease forwards 1s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 357px;
  stroke-dashoffset: 357px;
  animation: logo-path 2s ease forwards 0.8s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 309px;
  stroke-dashoffset: 309px;
  animation: logo-path 2s ease forwards 0.4s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 156px;
  stroke-dashoffset: 156px;
  animation: logo-path 2s ease forwards 0.2s,
    logo-fill-orange 3s ease-in forwards;
}
/* 
#logo path:nth-child(12) {
  stroke-dasharray: 315px;
  stroke-dashoffset: 315px;
  animation: logo-path 2s ease forwards 0.4s;
}

#logo path:nth-child(13) {
  stroke-dasharray: 184px;
  stroke-dashoffset: 184px;
  animation: logo-path 2s ease forwards 0.2s;
}
 */
@keyframes logo-path {
  from {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
@keyframes logo-fill {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
    fill: var(--text);
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    fill: var(--text);
  }
}
@keyframes logo-fill-orange {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
    fill: var(--color-alt);
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    fill: var(--color-alt);
  }
}

@media screen and (min-width: 768px) {
  #logo_wrapper {
    padding-left: 0rem;
    border-bottom: 1px solid #888;
    width: inherit;
    height: inherit;  
  }
}
