.navbar input[type="checkbox"],
.navbar .hamburger_btn {
  display: none;
  position: absolute;
  top: 4rem;
  right: 1rem;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  border-bottom: 1px solid white;
  position: relative;
  opacity: 0.95;
  background-color: #282828;
}

.navbar_container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.menu_items {
  display: flex;
}

.menu_items li {
  list-style: none;
  cursor: pointer;
  z-index: 10;
  padding: 1rem;
}

.navbar a:link {
  color: transparent;
  -webkit-text-stroke: 1px var(--text);
  text-decoration: none;
  font-family: Coolvetica;
  letter-spacing: 0.25rem;
  font-size: calc(1.3vmin + 2.3vmax);
  color: transparent;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.navbar a:link:hover,
.navbar a:hover,
.navbar a:active {
  -webkit-text-stroke: 1px var(--text);
  color: var(--text);
}

.navbar a:visited {
  -webkit-text-stroke: 1px var(--color-gray);
}
.navbar a:visited:hover {
  -webkit-text-stroke: 1px var(--color-gray);
  color: var(--color-gray);
}

/* Media queries */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.99;
    box-shadow: none;
    background: transparent;
    border-bottom: transparent;
  }

  .navbar_container input[type="checkbox"],
  .navbar_container .hamburger_btn {
    display: block;
  }

  .navbar_container .hamburger_btn {
    display: block;
    z-index: 1000;
    pointer-events: none;
  }

  .navbar_container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar_container > input[type="checkbox"] {
    /*  position: absolute; */
    height: 76px;
    width: 76px;
    z-index: 1001;
    opacity: 0;
    cursor: pointer;
  }

  .navbar .menu_items {
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
    transform: translateX(150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    background: var(--bg);

    /* z-index: 99; */
  }

  .navbar .menu_items li {
    padding-left: 20%;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  .navbar a:link {
    -webkit-text-stroke: 1px var(--text);
    text-decoration: none;
    color: transparent;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }

  .navbar a:hover,
  .navbar a:active {
    color: var(--bg);
  }

  .navbar_container input[type="checkbox"]:checked ~ .menu_items {
    transform: translateX(0);
  }

  .navbar_container input[type="checkbox"] ~ .hamburger_btn {
    display: block;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    /* box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15); */
  }

  .navbar_container input[type="checkbox"] ~ .hamburger_btn .line,
  .navbar_container input[type="checkbox"] ~ .hamburger_btn .line::before,
  .navbar_container input[type="checkbox"] ~ .hamburger_btn .line::after {
    position: absolute;
    background-color: var(--text);
    height: 4px;
    width: 32px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .navbar_container input[type="checkbox"] ~ .hamburger_btn .line::before {
    content: "";
    margin-top: -8px;
  }

  .navbar_container input[type="checkbox"] ~ .hamburger_btn .line::after {
    content: "";
    margin-top: 8px;
  }

  .navbar_container input[type="checkbox"]:checked ~ .hamburger_btn {
    transition: background 0.4s ease-in-out, transform 0.4s ease-out;
  }

  .navbar_container input[type="checkbox"]:checked ~ .hamburger_btn .line {
    content: "";
    /*  color: transparent; */
    background: transparent;
    transition: background 0s ease-in-out;
  }

  .navbar_container
    input[type="checkbox"]:checked
    ~ .hamburger_btn
    .line::before {
    background: var(--color-alt);
    margin-top: 0px;
    transform: rotate(45deg);
    transition: background 0.4s ease-in-out, transform 0.4s ease-out;
  }
  .navbar_container
    input[type="checkbox"]:checked
    ~ .hamburger_btn
    .line::after {
    background: var(--color-alt);
    margin-top: 0px;
    transform: rotate(-45deg);
    transition: background 0.4s ease-in-out, transform 0.4s ease-out;
  }
}
