.main_pages {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

.main_pages > h1 {
  margin-top: 200px;
  margin-bottom: 2rem;
}

.page_lists {
  margin: 5% 0;
}

.example {
  width: 100%;
  height: fit-content;
  padding: 2rem;
}

.example > div {
  padding: 2rem 4rem;
  background-color: black;
  color: white;
}

.example > div:last-of-type {
  padding: 2rem 4rem;
  background-color: white;
  color: orangered;
}

@media screen and (min-width: 768px) {
  .main_pages {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
  }
  }
