.hero_code {
  margin: 0 auto;
  margin-top: 24vh;
}

#special {
  font-family: Coffee;
  margin: 0.5rem 0;
  font-size: calc(3.5vmin + 4vmax);
  font-weight: 700;
  line-height: 1;
  word-spacing: 0.5rem;
}

#special2 {
  font-family: Kenoky;
}

.resources_page_a {
  color: var(--color-alt);
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.card_wrapper {
  /* using grid */
  --auto-grid-min-size: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
 .card_wrapper {
  --auto-grid-min-size: 30%;
 }

 .card > img {
  transform: rotate(360deg);
  transition: 5s ease;
 }
}
