.hero_code {
  margin: 0 auto;
  margin-top: 24vh;
}

.resources_page_a {
  color: var(--color-alt);
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.card_wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-sizing: border-box;
}
