/* done this desktop first just to try out the other way around */
#swipe_nav-wrapper {
    border:3px solid var(--color-alt);
    max-width: 80%;
    margin: 100px auto 0;
  }
  .swipe_nav, .swipe_nav > li {
    list-style: none;
    padding: 0
  }
  .swipe_nav.nav-tabs {
     /* apply iOS momentum scrolling effect to this element */
    display: block;
    overflow: auto;
    white-space: nowrap
  }
  .swipe_nav.nav-tabs > li {
    display: inline-block
   }
  .swipe_nav.nav-tabs > li > a {
    display: block;
    background: var(--color-black);
    width: 120px;
    text-align: center;
    color: var(--bg);
    text-decoration: none;
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding: 8px 14px;
    font-weight: 800;
    text-shadow: 0 2px 2px var(--color-alt);
    transition: all 0.3s ease-in-out;
  }
  .swipe_nav.nav-tabs > li > a:hover {
    background: var(--color-black);
    color: var(--color-alt);
    text-shadow: 0 2px 2px var(--bg);
  }
  
  @media screen and (max-width: 768px) {
      ::-webkit-scrollbar { width:0; height:0 }
      ::-webkit-scrollbar-thumb { background: transparent}
      ::-webkit-scrollbar-track { background-color: transparent} 
      
  }