/* importing all css files used to main css */
@import url("css/typography.css");
@import url("css/base.css");
@import url("css/keyframes.css");


/* pages */
@import url("css/pages.css");
@import url("css/resources_page.css");
@import url("css/contact_page.css");

/* component */
@import url("css/card.css");
@import url("css/buttons.css");
@import url("css/navbar.css");


/* SVG / logo */
@import url("css/logo_svg.css");
@import url("css/coffee_svg.css");


header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.25rem auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text);
}
/* 
.theme_btn {
  display: none;
} */

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.svg_shape_1 {
  position: absolute;
  top: -10vh;
  left: -30vw;
  transform: rotate(20deg) scale(0.6);
  z-index: -1;
}

.headline > h1 {
  position: relative;
  animation: from_left 0.6s ease-out 1 forwards;
}
.headline > h6 {
  position: relative;
  animation: from_right 0.4s ease-out 1 forwards;
}

.hero {
  padding-top: 5vh;
  display: grid;
  place-items: center;
}

.images {
  position: relative;
  width: 100%;
  width: 100%;
  min-width: 260px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
  cursor: pointer;
}

.talk {
  position: absolute;
  top: 35vh;
  left: 70%;
  height: fit-content;
  width: 100px;
  color: white;
  font-size: 0.6rem;
  white-space: initial;
  word-break: break-word;
  z-index: 99;
  
}

/* using the after selector to create a text animation */
.talk::after {
  content: "";
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: talk 15s ease-out 0.5s 1 forwards;
  transition: width 0.2s ease-in-out;
}

@keyframes talk {
  0% {
    content: "Hi There";
    width: 0;
  }
  5% {
    content: "Hi There";
    width: 100%;
  }
  

  15% {
    content: "So you want to learn how 2 code?";
    
  }
  
  
  30% {
    content: "Im here to help!";
    width: 100%;
  }
  
  
  45% {
    content: "You can scroll down to read Where to start";
    width: 100%;
  }

  
  60% {
    content: "& see how i started";
    width: 100%;
  }
  
  75% {
    content: "then check out the resources page to read more";
    width: 100%;
  }
  
  100% {
    content: "REMEMBER, YOU JUST HAVE TO START! every failure is a lesson learned... remember that & keep on going forward!";
    width: 100%;
  }
}

.scroll_down {
  position: sticky;
  left: 50%;
  bottom: 6vh;
  width: 100px;
  border-radius: 50%;
  animation: bouncy 10s ease-out 0.5s infinite forwards;
  background: transparent;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.15));
}

section {
  padding-top: 10rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

section#about > h2 {
  text-align: center;
}

.image1 {
  position: absolute;
  display: block;
  opacity: 1;
  /*  background-image: url(/assets/images/bw_rob1.png); */
  background-position: top center;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  width: 80%;
  height: 80%;
  transition: opacity 0.6s ease-in-out;
}

/* Maybe Ill also  move these keyframes to the keyframes css file */

@keyframes glitch {
  5% {
    visibility: visible;
    background-image: none;
  }
  10% {
    opacity: 0.2;
    background-image: url("assets/images/robot.png");
    -webkit-filter: grayscale(1);
    left: -2%;
    bottom: -2%;
  }
  15.5% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.5;
    -webkit-filter: hue-rotate(60deg) invert(1) saturate(2.7);
    left: 5%;
    top: -40%;
  }
  22% {
    opacity: 0.5;
    filter: none;
    left: -0%;
    top: -30%;
  }
  24% {
    opacity: 1;
    -webkit-filter: hue-rotate(60deg) invert(1) saturate(2.7);
  }
  25.5% {
    opacity: 0.5;
    filter: invert(1);
  }
  30% {
    filter: none;
    opacity: 1;
  }
  40% {
    opacity: 0.5;
    filter: invert(1);
    top: 30%;
    left: -12%;
  }
  50% {
    background-image: none;
    filter: none;
    opacity: 1;
  }
  60% {
    background-image: url("assets/images/robot.png");
    -webkit-filter: hue-rotate(30deg) invert(1) saturate(1.7);
    opacity: 0.5;
    left: 4%;
  }
  80% {
    background-image: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  100% {
    visibility: visible;
    background-image: none;
  }
}

.image2 {
  position: absolute;
  display: block;
  opacity: 0;
  /* background-image: url(/assets/images/robdajoker.png); */
  background-position: top center;
  background-repeat: no-repeat;
  visibility: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease-in-out;
  /*  -webkit-animation: glitch 15s 1 step-end;
  animation: glitch 15s 1 step-end; */
}

.images:hover > .image1 {
  opacity: 0;
}
.images:hover > .image2 {
  position: absolute;
  opacity: 1;
  -webkit-animation: glitch 15s 1 step-end;
  animation: glitch 15s 1 step-end;
}

.desc {
  margin: 4rem 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc > h2 {
  letter-spacing: 0.5rem;
  padding: 1rem 0;
}

.desc > p > a > span{
  color: var(--color-alt);
}
.desc > p > a > span:hover{
  color: var(--color-alt);
  opacity: 0.6;
}


.svg_shape_2 {
  position: absolute;
  top: -20vh;
  left: -30vw;
  transform: rotate(70deg);
  z-index: -1;
}
/* .desc > div:last-of-type {
  padding-right: 2rem;
} */

#where2start {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.where_to_start_content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  background-color: #282828;
  padding: 2rem;
}
.where_to_start_content > ul {
  list-style-type: none;
}
.where_to_start_content > ul > li {
 padding: 1rem 0;
 max-width: 100%;
 font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 125%;
}
.where_to_start_content > ul > li > a {
  /* Just showing How I did this first then I set this in the base css file */
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 125%;
  color: var(--color-alt);
  font-weight: 900;
  letter-spacing: 2px;
  transition: color 0.4s ease-in-out;
}
.where_to_start_content > ul > li > a > span {
  color: var(--color-alt);
}


.checkmore {
  margin: 2rem 0;
  text-align: center;
}



footer {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  overflow: hidden;
}

footer > h3 {
  margin: 0;
  padding: 0;
}

footer > h3 > a {
  text-transform: uppercase;
  color: var(--color-alt);
  overflow: hidden;
}

footer > h3 > a::before {
  content: attr(data-text);
  width: 0;
  height: fit-content;
  position: absolute;
  color: #fff;
  background-color: var(--bg);
  width: 0;
  overflow: hidden;
  transition: 0.4s linear;
  z-index: 10;
}

footer > h3:hover > a::before {
  width: 400px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  overflow: hidden;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}


/* ============== MEDIA QUERIES ==================== */
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 1rem;
    z-index: 10000;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(241, 241, 241);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-alt);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(245, 146, 111);
  }

  header {
    padding: 24px 0 4px;
  }
  nav {
    pointer-events: visible;
  }
  main {
    width: 60%;
  }

  .hero {
    padding-top: 0;
    align-items: flex-start;
  }

  section {
    padding: 20rem 0 0;
  }

  #about > .images {
    align-self: center;
  }

  .talk {
    top: 40vh;
    left: 65%;
    height: fit-content;
    width: 200px;
    color: white;
    font-size: 1.4rem;
    
  }

  .desc > h6 {
    align-self: flex-start;
  }

  .scroll_down {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2vh;
    animation: bouncy_big_screen 10s ease-out 0.5s infinite forwards;
  }

  .image1 {
    width: 100%;
    height: 100%;
  }

  .svg_shape_1 {
    left: 30vw;
    transform: rotate(40deg);
    z-index: -1;
  }
  .svg_shape_2 {
    top: -10vh;
    left: -10vw;
    transform: rotate(40deg);
    z-index: -1;
  }

  #where2start {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .where_to_start_content {
    height: fit-content;
    background-color: #282828;
  }
  .where_to_start_content p,  
  .where_to_start_content li {
    width: 75%;
  }
}

@media screen and (max-width: 362px) {
  main {
    width: 100%;
    padding: 0 1rem;
  }

  article {
    margin-top: 100px;
  }

  .image1 {
    position: absolute;
    display: block;
    opacity: 1;
    /*  background-image: url(/assets/images/bw_rob1.png); */
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    align-self: center;
    transition: opacity 0.6s ease-in-out;
    transform: scale(0.8);
  }
}
