@import url("css/typography.css");
@import url("css/base.css");
@import url("css/keyframes.css");
@import url("css/logo.css");
@import url("css/navbar.css");
@import url("css/road2code.css");
@import url("css/contact.css");
@import url("css/coffee.css");
@import url("css/card.css");
@import url("css/buttons.css");

header {
  position: fixed;
  padding: 24px 0 4px;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: transparent;
}

.theme_btn {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

.arrow_down {
}

article {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero > h5 {
  position: relative;
  animation: from_left 0.6s ease-out 1 forwards;
}
.hero > h6 {
  position: relative;
  animation: from_right 0.4s ease-out 1 forwards;
}

.scroll_down {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%);
  width: 100px;
  border-radius: 50%;
  animation: bouncy 10s ease-out 0.5s infinite forwards;
  background: transparent;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.15));
}

section {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  overflow: hidden;
}

#about {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iam {
  margin-top: 150px;
  display: block;
  align-items: baseline;
}

.images {
  position: relative;
  width: 100%;
  width: 420px;
  min-width: 260px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
  cursor: pointer;
}

.image1 {
  position: absolute;
  display: block;
  opacity: 1;
  /*  background-image: url(/assets/images/bw_rob1.png); */
  background-position: top center;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  width: 80%;
  height: 80%;
  transition: opacity 0.6s ease-in-out;
}

@keyframes glitch {
  5% {
    visibility: visible;
    background-image: none;
  }
  10% {
    opacity: 0.2;
    background-image: url("assets/images/robot.png");
    -webkit-filter: grayscale(1);
    left: -2%;
    bottom: -2%;
  }
  15.5% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.5;
    -webkit-filter: hue-rotate(60deg) invert(1) saturate(2.7);
    left: 5%;
    top: -40%;
  }
  22% {
    opacity: 0.5;
    filter: none;
    left: -0%;
    top: -30%;
  }
  24% {
    opacity: 1;
    -webkit-filter: hue-rotate(60deg) invert(1) saturate(2.7);
  }
  25.5% {
    opacity: 0.5;
    filter: invert(1);
  }
  30% {
    filter: none;
    opacity: 1;
  }
  40% {
    opacity: 0.5;
    filter: invert(1);
    top: 30%;
    left: -12%;
  }
  50% {
    background-image: none;
    filter: none;
    opacity: 1;
  }
  60% {
    background-image: url("assets/images/robot.png");
    -webkit-filter: hue-rotate(30deg) invert(1) saturate(1.7);
    opacity: 0.5;
    left: 4%;
  }
  80% {
    background-image: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  100% {
    visibility: visible;
    background-image: none;
  }
}

.image2 {
  position: absolute;
  display: block;
  opacity: 0;
  /* background-image: url(/assets/images/robdajoker.png); */
  background-position: top center;
  background-repeat: no-repeat;
  visibility: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease-in-out;
  /*  -webkit-animation: glitch 15s 1 step-end;
  animation: glitch 15s 1 step-end; */
}

.images:hover > .image1 {
  opacity: 0;
}
.images:hover > .image2 {
  position: absolute;
  opacity: 1;
  -webkit-animation: glitch 15s 1 step-end;
  animation: glitch 15s 1 step-end;
}

.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc > h2,
.desc > h6 {
  letter-spacing: 0.5rem;
  padding: 1rem 0;
}

.svg_shape_1 {
  position: absolute;
  position: absolute;
  left: -40vw;
  transform: rotate(40deg);
  z-index: -1;
}
.svg_shape_2 {
  position: absolute;
  top: -20vh;
  left: -30vw;
  transform: rotate(70deg);
  z-index: -1;
}
/* .desc > div:last-of-type {
  padding-right: 2rem;
} */

footer {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  overflow: hidden;
}

footer > h3 {
  margin: 0;
  padding: 0;
}

footer > h3 > a {
  text-transform: uppercase;
  color: var(--color-alt);
  overflow: hidden;
}

footer > h3 > a::before {
  content: attr(data-text);
  width: 0;
  height: fit-content;
  position: absolute;
  color: #fff;
  background-color: var(--bg);
  width: 0;
  overflow: hidden;
  transition: 0.4s linear;
  z-index: 10;
}

footer > h3:hover > a::before {
  width: 400px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  overflow: hidden;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 1rem;
    z-index: 10000;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(241, 241, 241);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-alt);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(245, 146, 111);
  }

  nav {
    pointer-events: visible;
  }
  main {
    width: 60%;
  }

  article {
    padding: 40% 0;
  }
  .hero {
    align-items: flex-start;
  }

  #about {
    align-items: flex-start;
  }

  .iam {
    margin-top: 200px;
  }

  #about > .images {
    align-self: center;
  }
  .desc > h6 {
    align-self: flex-start;
  }

  .scroll_down {
    animation: bouncy_big_screen 10s ease-out 0.5s infinite forwards;
  }

  .image1 {
    width: 100%;
    height: 100%;
  }

  .svg_shape_1 {
    left: 30vw;
    transform: rotate(40deg);
    z-index: -1;
  }
  .svg_shape_2 {
    top: -10vh;
    left: -10vw;
    transform: rotate(40deg);
    z-index: -1;
  }

  #where2start {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #where2start > h1 {
    margin-top: 200px;
  }
  .where_to_start_content {
    height: 600px;
    background-color: #282828;
  }
}
